/******** General Styles ********/

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
    margin: 0;
}

main {
    position: relative;
    width: 100%;
}

button {
    padding: 17px 45px;
    border: 0;
    border-radius: 22px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: #FFF;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.topnav {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 60px;
  }

  .topnav .logo {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      padding: 18px;
  }
  
  .topnav #myLinks {
    display: none;
    text-align: center;
    background-color: #FFF;
    flex-direction: column;
    width: 87%;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 55px;
  }

  .topnav a {
    color: hsl(233, 26%, 24%);
    padding: 18px 20px;
    text-decoration: none;
    display: block;
  }

  .topnav .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .topnav .button {
      display: none;
  }

/* About */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

aside {
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 285px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
}

aside img {
    width: 90%;
    position: absolute;
    top: -120px;
    background-image: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 86%;
    position: relative;
    margin-bottom: 85px;
}

h1 {
    font-size: 2em;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    margin: 40px 0 20px 0;
}

.about p {
    font-size: 0.75em;
    width: 90%;
    margin: 0 0 35px 0;
    line-height: 23px;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background: hsl(220, 16%, 96%);
    padding-bottom: 30px;
}

.features h2 {
    width: 86%;
    margin: 70px 0 20px 0;
}

.features p {
    width: 86%;
    margin: 0;
    font-size: 0.75em;
    line-height: 23px;
    margin-bottom: 60px;
}

.features-items article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-items h3 {
    margin: 30px 0 0 0;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
}

.features-items p {
    margin: 25px 0 40px 0;
}

/* Latest Articles */

.latest-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0 74px 0;
    background: hsl(0, 0%, 98%);
}

.latest-articles h2 {
    margin: 0 0 28px 0;
}

.latest-articles article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    border-radius: 5px;
    overflow: hidden;
    background: #FFF;
    margin: 12px 0;
    padding-bottom: 30px;
}

.latest-articles img {
    width: 100%;
}

.article-description {
    width: 85%;
}

.article-description p {
    font-size: 0.7em;
    margin: 15px 0 15px 0;
}

.article-description h4 {
    margin: 15px 0;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 0.9em;
}

p.byline {
    font-size: 0.6em;
}

/* Footer */

footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    margin: 40px 0 30px 0;
}

.social-icons img {
    padding: 0 7.5px;
}

.footer-nav {
    padding: 26px 0 0 0;
}

footer nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul li {
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
    font-size: 0.8em;
}

footer .button {
    padding: 26px 0 30px 0;
}

.copyright p {
    margin: 0 0 45px 0;
    font-size: 0.8em;
}



/******** Media Queries ********/


@media screen and (min-width: 1440px) {

/*************** Desktop Styles ****************/


/* Header */

header {
    width: 100%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
}

.topnav {
    background-color: #FFF;
    width: 77%;
    position: relative;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

.topnav .logo {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 18px;
}
  
.topnav #myLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFF;
    position: relative;
    top: 0;
}

.topnav .icon {
    display: none;
}

.topnav .button {
    display: flex;
}

/* About */

#about {
    height: 660px;
    display: flex;
    flex-direction: row-reverse;
}

.mockups,
.about {
    height: 100%;
}

.about {
    text-align: justify;
    margin: 0;
    min-width: 0;
}

aside {
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0% 70%;
    overflow: visible;
}

aside img {
    bottom: -90px;
    left: 200px;
}

/* Features */

.features {
    z-index: -2;
}

}
