/******** General Styles ********/

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}

main {
    position: relative;
}

button {
    padding: 17px 45px;
    border: 0;
    border-radius: 22px;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: #FFF;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

.topnav {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 50px;
  }

  .topnav .logo {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      padding: 14px 16px
  }
  
  .topnav #myLinks {
    display: none;
    text-align: center;
    background-color: #FFF;
    flex-direction: column;
    width: 87%;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 55px;
  }

  .topnav a {
    color: hsl(233, 26%, 24%);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }

  .topnav .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

/* About */

#gradient {
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside {
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

aside img {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: -127px;
    visibility: visible;
    background-image: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 86%;
    position: relative;
}

/* Features */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 86%;
    position: relative;
    top: 30px;
}

/* Latest Articles */

.latest-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-articles article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-articles img {
    width: 86%;
}

.article-description {
    width: 77%;
}

/* Footer */

footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer nav ul li {
    color: #FFF;
}



/******** Media Queries ********/

